<a href="https://colab.research.google.com/github/rajalaxmishetty/python-ml-1/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import minmax_scale, normalize
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [2]:

import os
for dirname, _, filenames in os.walk('diabetes.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
df = pd.read_csv('diabetes.csv')

In [12]:
display(df)

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[768 rows x 9 columns]

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB
None

In [5]:
cols_with_zero = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in cols_with_zero:
    df[col] = df[col].replace(0, np.NaN)
    mean = int(df[col].mean(skipna= True))
    df[col] = df[col].replace(np.NaN, mean)

df

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[768 rows x 9 columns]

In [7]:
x= df.iloc[:,0:8]
y = df.iloc[:,8]

# splitting our data into Training & Testing data sets in the ratio of 8:2 for both dependent and independent
x_train,x_test, y_train,y_test = train_test_split(x,y, test_size= 0.2, random_state= 123)

In [10]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)
math.sqrt(len(y_test))

12.409673645990857

In [11]:
classifier = KNeighborsClassifier(n_neighbors= 11, p= 2, metric= 'euclidean')
classifier.fit(x_train,y_train)

# Using our trained model to predict the values for our Testing dataset
y_pred = classifier.predict(x_test)

# Calculating the metrics for our classification model and the accuracy for the predicted values
cm1= confusion_matrix(y_test, y_pred)
print(cm1)
print(f1_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[84 12]
 [17 41]]
0.7387387387387387
0.8116883116883117